:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* variables */
  /* text colors */
  --text-0: var(--bg-4); /* text on colored elements */
  --text-1: hsl(0, 0%, 100%); /* other normally white text */
  --text-2: hsl(0, 0%, 100%); /* headings and important text */
  --text-3: hsl(0, 0%, 100%); /* normal text */
  --text-4: hsl(221, 14%, 70%); /* icon buttons and channels */
  --text-5: hsl(0, 0%, 50%); /* muted channels/chats and timestamps */

  /* background and dark colors */
  --bg-1: hsla(220, 15%, 20%, 1); /* dark buttons when clicked */
  --bg-2: hsla(220, 15%, 16%, 1); /* dark buttons */
  --bg-3: hsla(220, 15%, 13%, 1); /* spacing, secondary elements */
  --bg-4: hsla(220, 15%, 10%, 1); /* main background color */
  --hover: hsla(221, 19%, 40%, 0.1); /* channels and buttons when hovered */
  --hover-raw: hsla(221, 19%, 40%); /* channels and buttons when hovered */
  --active: hsla(220, 19%, 40%, 0.2); /* channels and buttons when clicked or selected */
  --active-2: hsla(220, 19%, 40%, 0.3); /* extra state for transparent buttons */
  --message-hover: hsla(220, 0%, 0%, 0.1); /* messages when hovered */

  /* accent colors */
  --accent-1: var(--red-1); /* links and other accent text */
  --accent-2: var(--red-2); /* small accent elements */
  --accent-3: var(--red-3); /* accent buttons */
  --accent-4: var(--red-4); /* accent buttons when hovered */
  --accent-5: var(--red-5); /* accent buttons when clicked */
  --accent-new: var(--accent-2); /* stuff that's normally red like mute/deafen buttons */
  --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
  --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
  --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
  --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */
  --accent-reaction: color-mix(in hsl, var(--accent-1), white 30%); /* reaction count accent */

  /* status indicator colors */
  --online: var(--green-2); /* change to #40a258 for default */
  --dnd: var(--red-2); /* change to #d83a41 for default */
  --idle: var(--yellow-2); /* change to #cc954c for default */
  --streaming: var(--purple-2); /* change to ##9147ff for default */
  --offline: var(--text-4); /* change to #82838b for default offline color */

  /* border colors */
  --border-light: var(--hover); /* general light border color */
  --border: var(--active); /* general normal border color */
  --border-hover: var(--active); /* border color of panels when hovered */
  --button-border: hsl(220, 0%, 100%, 0.1); /* neutral border color of buttons */

  /* base colors */
  --red-1: oklch(75% 0.12 0);
  --red-2: oklch(70% 0.12 0);
  --red-3: oklch(65% 0.12 0);
  --red-4: oklch(60% 0.12 0);
  --red-5: oklch(55% 0.12 0);

  --green-1: oklch(75% 0.11 170);
  --green-2: oklch(70% 0.11 170);
  --green-3: oklch(65% 0.11 170);
  --green-4: oklch(60% 0.11 170);
  --green-5: oklch(55% 0.11 160);

  --blue-1: oklch(75% 0.1 215);
  --blue-2: oklch(70% 0.1 215);
  --blue-3: oklch(65% 0.1 215);
  --blue-4: oklch(60% 0.1 215);
  --blue-5: oklch(55% 0.1 215);

  --yellow-1: oklch(80% 0.11 90);
  --yellow-2: oklch(75% 0.11 90);
  --yellow-3: oklch(70% 0.11 90);
  --yellow-4: oklch(65% 0.11 90);
  --yellow-5: oklch(60% 0.11 90);

  --purple-1: oklch(75% 0.11 310);
  --purple-2: oklch(70% 0.11 310);
  --purple-3: oklch(65% 0.11 310);
  --purple-4: oklch(60% 0.11 310);
  --purple-5: oklch(55% 0.11 310);
}

.ven-colors {
  /* text colors */
  --text-0: #eee; /* text on colored elements */
  --text-1: hsl(38, 47%, 90%); /* bright text on colored elements */
  --text-2: hsl(38, 47%, 80%); /* headings and important text */
  --text-3: #d4be98; /* normal text */
  --text-4: #a79a83; /* icon buttons and channels */
  --text-5: #d4be9866; /* muted channels/chats and timestamps */

  /* background and dark colors */
  --bg-1: hsl(20, 5%, 25%); /* dark buttons when clicked */
  --bg-2: #3c3836; /* dark buttons */
  --bg-3: hsl(20, 2%, 19%); /* spacing, secondary elements */
  --bg-4: #282828; /* main background color */
  --hover: hsla(20, 3%, 40%, 0.1); /* channels and buttons when hovered */
  --hover-raw: hsla(20, 3%, 40%); /* channels and buttons when hovered */
  --active: hsla(20, 3%, 40%, 0.2); /* channels and buttons when clicked or selected */
  --active-2: hsla(20, 3%, 40%, 0.3); /* extra state for transparent buttons */
  --message-hover: hsla(0, 0%, 0%, 0.1); /* messages when hovered */

  /* accent colors */
  --accent-1: var(--purple-1); /* links and other accent text */
  --accent-2: var(--purple-2); /* small accent elements */
  --accent-3: var(--purple-3); /* accent buttons */
  --accent-4: var(--purple-4); /* accent buttons when hovered */
  --accent-5: var(--purple-5); /* accent buttons when clicked */
  --accent-new: var(--accent-2); /* stuff that's normally red like mute/deafen buttons */
  --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
  --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
  --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
  --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

  /* status indicator colors */
  --online: var(--green-2); /* change to #43a25a for default */
  --dnd: var(--red-2); /* change to #d83a42 for default */
  --idle: var(--yellow-2); /* change to #ca9654 for default */
  --streaming: var(--purple-2); /* change to #593695 for default */
  --offline: var(--text-4); /* change to #83838b for default offline color */

  /* border colors */
  --border-light: var(--hover); /* general light border color */
  --border: var(--active); /* general normal border color */
  --border-hover: var(--active); /* border color of panels when hovered */
  --button-border: hsl(0, 0%, 100%, 0.1); /* neutral border color of buttons */

  /* base colors */
  --red-1: hsl(3, 76%, 70%);
  --red-2: #ea6962;
  --red-3: #ea6962;
  --red-4: hsl(3, 76%, 60%);
  --red-5: hsl(3, 76%, 55%);

  --green-1: hsl(70, 36%, 60%);
  --green-2: #a8b665;
  --green-3: #a8b665;
  --green-4: hsl(70, 36%, 50%);
  --green-5: hsl(70, 36%, 45%);

  --blue-1: hsl(167, 24%, 63%);
  --blue-2: #7caea3;
  --blue-3: #7caea3;
  --blue-4: hsl(167, 24%, 53%);
  --blue-5: hsl(167, 24%, 48%);

  --yellow-1: hsl(37, 63%, 64%);
  --yellow-2: #d8a656;
  --yellow-3: #d8a656;
  --yellow-4: hsl(37, 63%, 54%);
  --yellow-5: hsl(37, 63%, 49%);

  --purple-1: hsl(344, 47%, 73%);
  --purple-2: #d3869b;
  --purple-3: #d3869b;
  --purple-4: hsl(344, 47%, 63%);
  --purple-5: hsl(344, 47%, 58%);
}

body {
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button,
.msg-wrap {
  border-radius: 8px;
  border: 1px solid var(--button-border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-3);
  background-color: var(--bg-1);
  transition: border-color 0.25s, background-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: var(--hover);
}
button:active {
  border-color: var(--active);
  background-color: var(--active-2);
}

input,
button,
.msg-wrap {
  outline: none;
}

.app {
  display: flex;
  height: calc(100vh - 10px);
  overflow: hidden;
}

.error-msg {
  color: var(--red-2);
  margin-top: 8px;
}

.primary-btn, .secondary-btn {
  width: 100%;
  padding: 10px;
  margin-top: 16px;
  font-weight: 500;
  background-color: var(--accent-1);
  color: var(--text-1);
}

.secondary-btn {
  margin-top: 12px;
  background-color: var(--bg-3);
  color: var(--text-3);
}

.close-btn:hover {
  background-color: color-mix(in hsl, var(--red-2) 60%, transparent) !important;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.valign {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.halign {
  flex: 1;
  display: flex;
  flex-direction: row;
}

/* sidebar */
.server-sidebar {
  width: 72px;
  border-right: 1px solid #ccc;
  background: var(--bg-2);
}

/* title bar */
.title-bar {
  height: 35px;
  background-color: var(--bg-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  margin: 0 8px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-app-region: drag; /* allows dragging the window */
}

.title {
  margin-left: 10px;
  font-weight: 500;
  font-size: large;
  display: flex;
  justify-content: center;
}
.title > span {
  margin-left: 10px;
}

.window-buttons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-buttons button {
  -webkit-app-region: no-drag; /* buttons are clickable */
  margin-right: 4px;
  width: 32px;
  height: 32px;
  padding: 7px;
  background: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  color: var(--text-2);
  cursor: pointer;

  &:hover {
    background-color: color-mix(in hsl, var(--hover-raw) 20%, transparent);
  }

  > svg {
    width: 16px;
    height: 16px;
  }
}

/* message input */
.real-wrap {
  border-top: 1px solid #ccc;
  padding: 8px;
}

.msg-wrap {
  width: calc(100% - 22px);
  padding: 10px;
  position: relative;
}

.msg-input {
  line-height: 1.375rem;
  height: fit-content;
  user-select: text;
  width: 100%;
  color: var(--text-0);
}

.msg-input:focus {
  border-color: var(--border-hover);
  outline: none;
}

/* login screen layout */
.login-screen {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-4);
  color: var(--text-3);
}

.login-card {
  width: 360px;
  padding: 24px;
  background-color: var(--bg-2);
  border: 1px solid var(--border);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* MARKDOWN */
h1, h2, h3, .h1, .h2, .h3 {
  scroll-margin-top: 4rem;
}
h1, h2, h3 {
  text-align: center;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}
.h2 {
  font-size: 1.5em;
  margin-block-start: 0.75em;
  margin-block-end: 0.75em;
}
.h3 {
  font-size: 1.17em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
.h4 {
  font-size: 1em;
  margin-block-start: 1.12em;
  margin-block-end: 1.12em;
}
.h5 {
  font-size: 0.83em;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
}
.h6 {
  font-size: 0.67em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}
.spoiler {
  background-color: #444;
  color: transparent;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
  user-select: none;
}
.spoiler, .spoiler-edit {
  padding: 0.2em 0.4em;
  border-radius: 4px;
}
.spoiler:hover, .spoiler-edit {
  background-color: #333;
  color: unset;
}
.multiline-code {
  background-color: #1e1e1e;
  color: #dcdcdc;
  padding: 1em;
  border: 1px solid #444;
  border-radius: 8px;
  font-family: monospace;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
code {
  background-color: #444;
  color: #e6e6e6;
  padding: 0.2em 0.4em;
  border: 4px solid #2b2b2b;
  font-family: monospace;
}

.mds {
  color: gray;
  text-decoration: unset !important;
  font-weight: unset !important;
}
.subheader {
  color: #888;
  font-size: 0.7rem;
}

.b { font-weight: 600; }
.i { font-style: italic; }
.u { text-decoration-line: underline; }
.s { text-decoration-line: line-through; }
.code {
  background-color: #2b2b2b;
  color: #e6e6e6;
  padding: 0.2em 0.4em;
  border: 1px solid #444;
  border-radius: 4px;
  font-family: monospace;
}
.quote:first-child { border-left: 3px solid #ccc; padding-left: 6px; color: #666; }

.inline-img, .inline-audio, .inline-video, .file-preview-frame, .inline-embed {
  max-width: 60%;
  animation: float 1s ease-in-out forwards;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  border-radius: 8px;
}
.inline-file {
  display: block;
}
.file-preview-frame {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}